.wrapper{
  background-image: url('https://dl.dropboxusercontent.com/u/3685151/209H.jpg') ;
  /*background-image: url('../img/209H.jpg');*/
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  color: white;
  height: 50%;
  padding-bottom: 450px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Russo One','Open Sans','Helvetica Neue',Arial,sans-serif;
}

h1{
  font-weight: 700;
  font-size: 70px;
}

.title{
  padding-top: 15px;
  padding-bottom: 50px;
}

#qText{
  background-color: transparent;
  /*border-radius: 0;*/
  color: white;
  /*border: 2px solid white;*/

  font-family: 'Russo One','Open Sans','Helvetica Neue',Arial,sans-serif;
  /*font-weight: 50;*/
  font-style: italic;
  font-size: 30px;
  /*resize:none;
  display: inline;*/
}

#qButt{
  margin-top: 30px;


  background-color: transparent;
  border-radius: 0;
  color: white;
  border: 5px solid white;

  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
  font-weight: 300;
  font-size: 40px;
}

.twitterButt{
  padding-top: 40px;
}

.tw{
  color: #00aced;
  font-size: 30px;
}
